@use "/src/styles/variables.scss" as vars;
@use "/src/styles/fonts.scss" as fonts;

.section-banner-index {
    max-width: 100%;
    position: relative;
    background-color: black;
    
    @include vars.adapted-content-web {
        height: fonts.px_to_vw(847);
        overflow: hidden;
    }
    @include vars.adapted-content-mobile {
        width: fonts.px_to_vw(393, 2);
        height: fonts.px_to_vw(853, 2);
    }

    .container-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        opacity: 0.6;
        
        @include vars.adapted-content-web {
            height: fonts.px_to_vw(847);
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            transform: translate(-50%, -50%) scale(1.16);
            object-position: center;
        }
        
        @include vars.adapted-content-mobile {
            height: fonts.px_to_vw(853, 2);
        }
    }
    
    .container-banner {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        
        @include vars.adapted-content-web {
            margin-bottom: fonts.px_to_vw(20,1);
        }
        @include vars.adapted-content-mobile {
            padding-bottom: fonts.px_to_vw(20, 2);
        }
    }

    .index-banner-button {
        margin-top: fonts.px_to_vw(400,1);

        @include vars.adapted-content-web {
            font-size: fonts.px_to_vw(22) !important;
            padding: fonts.px_to_vw(14) fonts.px_to_vw(32) !important;
            border-radius: fonts.px_to_vw(32) !important;
            gap: fonts.px_to_vw(20) !important;
            
            img {
                height: fonts.px_to_vw(16) !important;
                width: auto;
            }
        }
        
        @include vars.adapted-content-mobile {
            margin-top: fonts.px_to_vw(350,2);

            font-size: fonts.px_to_vw(15, 2) !important;
            padding: fonts.px_to_vw(10, 2) fonts.px_to_vw(20, 2) !important;
            border-radius: fonts.px_to_vw(34, 2) !important;
            gap: fonts.px_to_vw(10, 2) !important;
            
            img {
                height: fonts.px_to_vw(18, 2) !important;
            }
        }
    }
}